In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv(r"C:\Users\usuario\Desktop\Ironhacks\Ejercicios Clase\Clase 4\marketing_customer_analysis (3).csv")

In [4]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [5]:
X = data.drop('Response', axis=1)
y = data['Response']

In [6]:
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object']).columns

In [7]:
numerical_cols

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies',
       'Total Claim Amount'],
      dtype='object')

In [8]:
categorical_cols

Index(['Customer', 'State', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Location Code', 'Marital Status',
       'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [9]:
scaler = StandardScaler()
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])

In [10]:
print(X[numerical_cols].head())

   Customer Lifetime Value    Income  Monthly Premium Auto  \
0                -0.762878  0.612827             -0.703925
1                -0.149245 -1.239617              0.022691
2                 0.710636  0.365710              0.429596
3                -0.052263 -1.239617              0.371467
4                -0.755575  0.203390             -0.587666

   Months Since Last Claim  Months Since Policy Inception  \
0                 1.678099                      -1.543287
1                -0.208186                      -0.217334
2                 0.288205                      -0.360680
3                 0.288205                       0.606907
4                -0.307465                      -0.145661

   Number of Open Complaints  Number of Policies  Total Claim Amount
0                   -0.42225           -0.822648           -0.169640
1                   -0.42225            2.106160            2.400737
2                   -0.42225           -0.404247            0.455734
3                   -0.42225            1.687759            0.329769
4                   -0.42225           -0.822648           -1.018843

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
scaler = MinMaxScaler()
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])
print(X[numerical_cols].head())

   Customer Lifetime Value    Income  Monthly Premium Auto  \
0                 0.010629  0.562847              0.033755
1                 0.062406  0.000000              0.139241
2                 0.134960  0.487763              0.198312
3                 0.070589  0.000000              0.189873
4                 0.011245  0.438443              0.050633

   Months Since Last Claim  Months Since Policy Inception  \
0                 0.914286                       0.050505
1                 0.371429                       0.424242
2                 0.514286                       0.383838
3                 0.514286                       0.656566
4                 0.342857                       0.444444

   Number of Open Complaints  Number of Policies  Total Claim Amount
0                        0.0               0.000            0.132974
1                        0.0               0.875            0.391051
2                        0.0               0.125            0.195764
3                        0.0               0.750            0.183117
4                        0.0               0.000            0.047710